.projects-title {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display';
    font-size:  5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    color: #fff;
}

.projecs-title-wrapper {
    padding-top: 5%;
}

.projects-title span {
    color: #C365EF;
}

.projects-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


.projects-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.projects-list li {
    justify-self: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    margin: 10px 0px 10px 0px;
    background: transparent;
    border-radius: 10px;
    
}

.projects-list li img {
    background-color: rgba(43, 43, 43, 0.473);
    width: 320px;
    height: 320px;
    object-position: center;
    object-fit: contain; 
    border-radius: 10px;
}

@media (max-width: 1024px) {
  .projects-title {
        font-size:  3rem;
   }

   .projecs-title-wrapper{
        padding-top: 20%
    }


}